*.l[ao]
*.o
.deps
.libs
/aclocal.m4
/autom4te.cache
/compile
/config.*
/configure
/depcomp
/dist
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
Makefile
Makefile.in
examples/[cd]webp
/output
/doc/output
*.idb
*.pdb
/iosbuild
/WebP.framework
*.bc
libwebpdecoder.js
