[access]
	inheritFrom = webm
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
[project]
[access "refs/*"]
	create = group webm-releasers
	push = +force group webm-releasers
[access "refs/for/refs/heads/experimental"]
	push = group webm-releasers
	pushMerge = group webm-releasers
[access "refs/heads/experimental"]
	read = group webm-releasers
[access "refs/tags/*"]
	pushSignedTag = group webm-releasers
